@import url('https://fonts.googleapis.com/css2?family=Orienta&family=Poppins:wght@400;500;600&display=swap');

.card {
  width: 190px;
  min-width: 15%;
  height: 254px;
  border-radius: 20px;
  background: #f5f5f5;
  position: relative;
  padding: 1.8rem;
  box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
  transition: 0.5s ease-out;
  overflow: visible;
  font-family: 'Orienta', sans-serif;
}
 
.card-details {
  color: black;
  height: 100%;
  gap: .5em;
  display: grid;
  place-content: center;
}
 
.card-button {
  transform: translate(-50%, 125%);
  width: 50%;
  box-shadow: rgba(0, 0, 0, 0.4) 0px 30px 90px;
  border: 2px solid #f5f5f5;
  background-color: #323232;
  color: #fff;
  font-size: 1rem;
  padding: .5rem 1rem;
  position: absolute;
  left: 50%;
  bottom: 0;
  opacity: 0;
  transition: 0.3s ease-out;
  border-radius: 32px;
  margin-bottom: 10px;
}

.card-image img {
  width: 100%;
}	

.card-image img:hover {
  transform: scale(1.5);
}
 
.text-body {
  padding-bottom: 5%;
  color: rgb(134, 134, 134);
  align-self: center;
  text-align: center;
}
 
/*Text*/
.text-title {
  font-size: 1.5em;
  font-weight: bold;
  margin: 10px;
}
 
.card a{
  text-decoration: none;
}
/*Hover*/
.card:hover {
  border-color: #008bf8;
  box-shadow: 0 4px 18px 0 rgba(0, 0, 0, 0.25);
}
 
.card:hover .card-button {
  transform: translate(-50%, 50%);
  opacity: 1;
}
