* {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}



.pokemon-details {
  padding: 8%;
  width: 30vw;
  margin: 20px auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  border-radius: 16px;
  transition: all 0.3s ease-in-out;
  position: relative;
  background-color: #f2F2F2;
  box-shadow: rgba(0, 0, 0, 0.15) 0px 2px 8px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(84px) !important; 
}

.pokemon-name{
  color: #636363;
  padding: 10px;
  border-radius: 8px;
  box-shadow: rgba(0, 0, 0, 0.15) 0px 2px 8px;
}

.back-button {
  position: absolute;
  top: 10px;
  left: 10px;
  font-size: 18px;
  color: #636363;
  background-color: #ffffff;
  text-decoration: none;
  padding: 8px 16px;
  border-radius: 12px;
  transition: all 0.3s ease-in-out;
  box-shadow: rgba(0, 0, 0, 0.15) 0px 2px 8px;
}

.back-button:hover {
  color: #ffffff;
  background-color: #636363;
}

p {
  padding: 10px;
  color: #ffffff;
  background-color: #323232;
  border-radius: 8px;
}
