/* Normal Type */
.normal {
  background-color: #A8A878;
}
 
/* Fighting Type */
.fighting {
  background-color: #C03028;
}
 
/* Flying Type */
.flying {
  background-color: #A890F0;
}
 
/* Poison Type */
.poison {
  background-color: #A040A0;
}
 
/* Ground Type */
.ground {
  background-color: #E0C068;
}
 
/* Rock Type */
.rock {
  background-color: #B8A038;
}
 
/* Bug Type */
.bug {
  background-color: #A8B820;
}
 
/* Ghost Type */
.ghost {
  background-color: #705898;
}
 
/* Steel Type */
.steel {
  background-color: #B8B8D0;
}
 
/* Fire Type */
.fire {
  background-color: #F08030;
}
 
/* Water Type */
.water {
  background-color: #6890F0;
}
 
/* Grass Type */
.grass {
  background-color: #78C850;
}
 
/* Electric Type */
.electric {
  background-color: #F8D030;
}
 
/* Psychic Type */
.psychic {
  background-color: #F85888;
}
 
/* Ice Type */
.ice {
  background-color: #98D8D8;
}
 
/* Dragon Type */
.dragon {
  background-color: #7038F8;
}
 
/* Dark Type */
.dark {
  background-color: #705848;
}
 
/* Fairy Type */
.fairy {
  background-color: #EE99AC;
}
 